# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
/build/
/.gradle/

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Sensitive configs
src/main/resources/application.properties
src/main/resources/application.yml
.env

# Optional: JAR/WAR files
*.jar
*.war
